section {
  background: #ece3d6;
  width: 100%;
  min-height: 56.9rem;
  height: 56.9rem;
  position: relative;
  clear: both;
}

/* Header Styles */
header {
  position: relative;
  z-index: 100;
  background: #a33f2d;
}

header > h1 {
  line-height: 2.1;
  margin: 0 13px 0 0;
}

.mm-menu {
  background: #2b0905;
}
