//
// Color Variables
//

//Primary Palette
$white:#f8f6f3;
$beige:#ece3d6;
$red:#A33F2D;
$gold:#efc657;
$brown:#8A360F;

//Expanded Palette
$darkRed:#2B0905;
$lGold:lighten($gold, 15%);
$dGold:darken($gold, 10%);
$lRed:lighten($red, 15%)